# These owners will be the default owners for everything in
# the repo.
* @GenPi64/devteam


# These ebuilds are maintained by pbrena as they have made 
# the PR to include them.
app-accessibility/onboard @pbrena
dev-libs/hx711 @pbrena
dev-libs/lg @pbrena
